@font-face { 
font-family: BoxArabic; src: url('../font/BoxArabic.otf'); 
} 

body{
	background-color: #e0eafc;
	font-family: Tahoma, Arial;
}
.sTag{
	display: block;
	margin: auto;
	background-color: green;
	border-style: solid;
	border-width: 2px;
	border-color: green;
	border-radius: 5px;
}

.genButton{
	position: relative;
	display: block;
	margin: auto;
	background-color: #008CBA;
	color: white;
	border:none;
	border-radius: 5px;
	transition-duration: 0.4s;
	padding: 2px;
}
.genButton:hover{
	background-color: white;
	color: black;
}
#options{
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	min-height: 100vh;
	min-width: 15vw;
	background-color: #09B6EF;
	color: white;
	padding-left: 5px;
	border-right: 1px solid #008CBA;
}
#options input{
	background-color: #008CBA;
	border:none;
	padding: 5px;
	color: white;
}
#msgTag{
	position: relative;
	padding: 2px;
	display: block;
	margin: auto;
	min-width: 25vw;
	min-height: 15vh;
}
#msgVeiw{
	position: relative;
	display: block;
	margin: auto;
	max-width: 30vw;
	background-color: #65c1e0;
	border-radius: 20px;
	padding: 1rem; 
	/*opacity: 40%;*/
	font-family: Arial;
	
}

#msgVeiw img{
	float: left; 
}
#msgVeiw p{
	position: relative;
	top: -5px;
	left: 1rem;
	text-shadow: 2px 1.5px 0.25px #000000;
	font-weight: bold;
}
#options p{
	font-size: 10px;
}
#options h5{
	margin-bottom: 1vh;
}
